* {
  font-family: JetBrains Mono;
  font-size: 14px;
}

window {
  margin: 0;
  padding: 10px;
  border-radius: 14px;
  background-color: rgba(20,20,20,0.92);
  border: 2px solid rgba(90,90,90,0.4);
}

#input {
  margin: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: rgba(40,40,40,1);
  color: #fff;
  border: none;
}

#entry:selected {
  background-color: rgba(90,90,90,0.6);
}

